/* Main modal container*/


.reason {
  border-color: var(--secondary-color-3);
  border-style: solid;
  font-size: 16px;
  color: var(--secondary-color-3);
  border-radius: 0;
  border-width: 1px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.reasons-container {
  padding-bottom: 10px;
}

a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: var(--secondary-color-3);
  margin-right: 15px;
}

a:hover {
  color: var(--primary-color-1);
  cursor: pointer;
}



.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}


.xdmod-data {
  border-color: var(--secondary-color-3);
  border-style: solid;
  font-size: 16px;
  padding-top: 2px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 2px;
  color: var(--secondary-color-3);
  border-radius: 0;
  border-width: 1px;
  margin-right: 10px;
}

/* modified bootstrap classes */

.modal {
  --bs-modal-border-radius: 10px;
  --bs-modal-header-border-width: 0px;
  --bs-modal-footer-border-width: 0px;
  --bs-modal-width: 600px;
}

.modal-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  color: var(--primary-color-1);
}

.modal-body{
  font-size: 16px;
  line-height: 20px;
  background-color: #ffffff;
  padding-bottom: 0px;
}

.modal-footer {
  justify-content: flex-start;
}

.btn-close {
  margin: 0;
  opacity: 1;
  margin-bottom: 10px;
}


.accordion-item {
  margin-bottom: 10px;
}

.accordion-button {
  background-color: var(--primary-color-4);
}

.accordion-button.collapsed::after{
  content: "\F229";
  font-family: bootstrap-icons;
  background-image: none;
}

.accordion-button:not(.collapsed){
  color: black;
  background-color: var(--primary-color-4);
  box-shadow: none;

}
.accordion-button:not(.collapsed)::after{
  content: "\F235";
  font-family: bootstrap-icons;
  background-image: none;
  transform: none;
}

.modal-see-more {
  font-weight: 600;
  font-size: 20px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

.blurb {
  font-size: 18px;
}
