
{% extends "base.html" %}
{% block scripts %}
    {{super()}}
    <script async type="module" src="../static/js/tags.js"></script>
    <script async type="module" src="../static/js/issueReporting.js"></script>
    <script async type="module" src="../static/js/alerts.js"></script>
    <script type="module" src="../static/js/scripts.js"></script>
{% endblock %}

{%block page_title %}
{% endblock %}
{% block app_content %}
<form id="recommendation-form">
    <!-- HPC USE -->
    <div class="form-group">
        <label class="question">Have you used a supercomputer* before?
            <i
                class="bi bi-info-circle"
                data-bs-toggle="tooltip"
                data-bs-title="*Supercomputer refers to any substantial compuing system or resource, including clusters, cloud platforms, large server systems, or high-performace computers"
            ></i>
        </label>

        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hpc-use" id="has-used-hpc" value="1">
            <label class="form-check-label" for="has-used-hpc">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="hpc-use" id="has-not-used-hpc" value="0">
            <label class="form-check-label" for="has-not-used-hpc">No</label>
        </div>
    </div>

    <!-- Previously used ACCESS HPCs -->
    <div class="form-group hide-hpc d-none" id="access-rps">
        <label class="question">Select any supercomputers you have experience with:</label>
        {% for rp in rps %}
        <div class="form-check">
            <input class="form-check-input used-rps" name="used-hpc" type="checkbox" id="{{rp.name}}-option-rp" value="{{rp.name}}">
            <label class="form-check-label" for="{{rp.name}}-option-rp">{{rp.name}}</label>
        </div>
        {%endfor%}
    </div>

    <!-- Experience using HPC -->
    <div class="form-group hide-hpc d-none">
        <label class="question">How much experience do you have with supercomputers?</label>
        <br>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="hpc-experience" id="one-year" value="0-1 year">
            <label class="form-check-label" for="one-year">I have a small amount of experience using certain HPCs (0-1 year)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="hpc-experience" id="three-years" value="1-3 years">
            <label class="form-check-label" for="three-years">I am comfortable using any HPC (1-3 years)</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="hpc-experience" id="four-years" value="4+ years">
            <label class="form-check-label" for="four-years">I am an expert when it comes to using HPCs (4 or more years)</label>
        </div>
    </div>

    <!-- GUI Use -->
    <div class="form-group">
        <label class="question">Do you need to use a resource that has a user-friendly interface?
                <i
                    class="bi bi-info-circle"
                    data-bs-toggle="tooltip"
                    data-bs-title="A graphical user interface (GUI) allows users to control complex operations via user-friendly tools rather than the command line. Recommended for new users."
                ></i>
        </label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gui-needed" id="need-gui" value="1">
            <label class="form-check-label" for="need-gui">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gui-needed" id="no-need-gui" value="0">
            <label class="form-check-label" for="no-need-gui">No</label>
        </div>
    </div>
    <!-- GUI Familiarity -->
    <div class="form-group hide-gui d-none">
    <label>Select any UIs you are comfortable using:</label>
    {% for gui in guis %}
        <div class="form-check">
            <input class="form-check-input used-guis" name="used-gui" type="checkbox" id="{{gui.gui_name}}-option-rp" value="{{gui.gui_name}}">
            <label class="form-check-label" for="{{gui.gui_name}}-option-rp">{{gui.gui_name}}</label>
        </div>
        {%endfor%}
    </div>

    <!-- Field of Research -->
    <div class="form-group">
        <label class="question">Select your field(s) of research</label> <br>
        <input class="" type="text" id="field-text-input">
    </div>

    <!-- Data Storage -->
    <div class="form-group">
        <label class="question">Do you need to store any data on the supercomputer?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="storage" id="storage-needed" value="1">
            <label class="form-check-label" for="storage-needed">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="storage" id="storage-not-needed" value="0">
            <label class="form-check-label" for="storage-not-needed">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="storage" id="storage-unsure" value="2">
            <label class="form-check-label" for="storage-unsure">I don't know</label>
        </div>
    </div>

    <!-- Long-Term Storage -->
    <div class="form-group hide-data d-none">
        <label class="question" >Approximately how much long-term storage do you think you will need?
            <i
                class="bi bi-info-circle"
                data-bs-toggle="tooltip"
                data-bs-title="Most resources allow a certain amount of files to be stored throughout the entire duration of an allocation in the home/project storage."
            ></i>
        </label>
        <br>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="long-term-storage" id="one-tb" value="less-than-1">
            <label class="form-check-label" for="one-tb">Less than 1 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="long-term-storage" id="ten-tb" value="1-10">
            <label class="form-check-label" for="ten-tb">1 TB to 10 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="long-term-storage" id="more-tb" value="more-than-10">
            <label class="form-check-label" for="more-tb">More than 10 TB</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="long-term-storage" id="unsure-tb" value="unsure">
            <label class="form-check-label" for="unsure-tb">I don't know</label>
        </div>
    </div>

    <!-- Temp Storage -->
    <div class="form-group hide-data d-none">
        <label class="question">Approximately how much temporary storage do you think you will need (inputs and outputs)?
            <i
                class="bi bi-info-circle"
                data-bs-toggle="tooltip"
                data-bs-title="Most resources regularly purge temporary files. Read about scratch storage to learn more."
            ></i>
        </label>
        <br>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="temp-storage" id="one-tb-temp" value="less-than-1">
            <label class="form-check-label" for="one-tb-temp">Less than 1 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="temp-storage" id="ten-tb-temp" value="1-10">
            <label class="form-check-label" for="ten-tb-temp">1 TB to 10 TB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="temp-storage" id="more-tb-temp" value="more-than-10">
            <label class="form-check-label" for="more-tb-temp">More than 10 TB</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="temp-storage" id="unsure-temp" value="unsure">
            <label class="form-check-label" for="unsure-temp">I don't know</label>
        </div>
    </div>

    <!-- Memory (RAM) -->
    <div class="form-group">
        <label class="question">Approximately how much memory (RAM) does your job require?</label>
        <br>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="sixtyfour-gb" value="less-than-64">
            <label class="form-check-label" for="sixtyfour-gb">Less than 64 GB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="five-twelve-gb" value="64-512">
            <label class="form-check-label" for="five-twelve-gb">64 GB to 512 GB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="more-gb" value="more-than-512">
            <label class="form-check-label" for="more-gb">More than 512 GB</label>
        </div>
        <div class="form-check form-check">
            <input class="form-check-input" type="radio" name="memory" id="unsure-gb" value="unsure">
            <label class="form-check-label" for="unsure-gb">I don't know</label>
        </div>
    </div>

    <!-- Software and Libraries -->
    <div class="form-group">
        <label for="software-text-input" class="question">Which scientific libraries and software packages do you need?</label>
        <input class="" type="text" id="software-text-input" name="software">
    </div>

    <!-- Graphical -->
    <div class="form-group">
        <label class="question">Is there a graphical component to your jobs?
            <i
            class="bi bi-info-circle"
            data-bs-toggle="tooltip"
            data-bs-title="I.e. your jobs involve signifiacnt simulation and modeling."
            ></i>
        </label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graphics" id="graphical" value="1">
            <label class="form-check-label" for="graphical">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graphics" id="not-graphical" value="0">
            <label class="form-check-label" for="not-graphical">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="graphics" id="unsure-graphical" value="2">
            <label class="form-check-label" for="unsure-graphical">I don't know</label>
        </div>
    </div>

    <!-- GPU -->
    <div class="form-group">
        <label class="question">Do you need GPUs?</label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gpu" id="gpu-needed" value="1">
            <label class="form-check-label" for="gpu-needed">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gpu" id="gpu-not-needed" value="0">
            <label class="form-check-label" for="gpu-not-needed">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="gpu" id="gpu-unsure" value="2">
            <label class="form-check-label" for="gpu-unsure">I don't know</label>
        </div>
    </div>
    <!-- List of GPUs on ACCESS -->
    <div class="form-group d-none hide-gpu" id="access-gpus">
        <label class="question">Select any GPUs you need:</label>
        <div class="form-check">
            <input class="form-check-input gpus" name="gpus" type="checkbox" id="gpu-idk-option" value="idk">
            <label class="form-check-label" for="gpu-idk-option">I don't know</label>
        </div>
        {% for gpu in gpus %}
            {% set gpu_name = gpu | replace(" ", "-")%}
            <div class="row-6">
                <div class="form-check form-check-inline col">
                    <input
                        class="form-check-input gpus"
                        name="gpus" type="checkbox"
                        id="{{gpu_name}}-option" value="{{gpu_name}}"
                    >
                    <label class="form-check-label" for="{{gpu_name}}-option">{{gpu}}</label>
                </div>
                    {% for item in gpus[gpu]%}
                        {% if item > 0 %}
                        <div class="form-check form-check-inline col">
                            <input
                                class="form-check-input gpus"
                                name="gpus_ram" type="checkbox"
                                id="{{gpu_name}}_{{item}}_option" value="{{gpu_name}}_{{item}}_option"
                                >
                            <label class="form-check-label" for="{{gpu_name}}_{{item}}_option">{{item}} GB</label>
                        </div>
                        {% endif %}
                    {%endfor%}
            </div>
        {%endfor%}
    </div>


    <!-- Virtual Machine -->
    <div class="form-group">
        <label class="question">Do you need a virtual machine (VM)?
            <i
            class="bi bi-info-circle"
            data-bs-toggle="tooltip"
            data-bs-title="Consider using a VM if your job must run continuously, as supercomputers typically limit jobs to fixed time durations."
            ></i>
        </label>
        <br>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vm" id="vm-needed" value="1">
            <label class="form-check-label" for="vm-needed">Yes</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vm" id="vm-not-needed" value="0">
            <label class="form-check-label" for="vm-not-needed">No</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="vm" id="vm-unsure" value="2">
            <label class="form-check-label" for="vm-unsure">I don't know</label>
        </div>
    </div>

    <!-- Submit button trigger modal-->
    <button type="submit" class="primary-button" style="margin-right: 20px;  margin-top:20px;" id="submit-form">SEND</button>
    <button type="button" class="secondary-button" style="margin-top:20px;" id="clear-form">CLEAR</button>
</form>
<br>
    {%include 'submitModal.html'%}
    {%include 'reportModal.html'%}
{%endblock%}
