  <!-- Submit Modal-->
  <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header justify-content-between">
            <span class="modal-title justify-content-center">ACCESS RESOURCE RECOMMENDATIONS</span>
            <br>
            <div>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="submitModalBody">
            <div class="accordion accordion-flush" id="recommendation-accordion">
              <!-- recommendations get added here from scripts.js -->
            </div>
            <br>
            <div class="col-sm-12">
              <!-- See Less button -->
              <button type="button" class="primary-button modal-see-more" id="see_less">
                SEE LESS
              </button>
              <!-- See More button -->
              <button type="button" class="primary-button modal-see-more" id="see_more">
                SEE MORE
              </button>
          </div>
          </div>
            <!-- Modal footer -->
            <div class="modal-footer grid">
                <br>
                <br>
                  <div class="alert d-flex align-items-start w-100" style="background-color: var(--secondary-color-1); border-radius:0px;">
                    <div clas="">
                      <i class="icon bi bi-question-circle">
                      </i>
                      <strong style="margin-right: 0.5em;">Next steps:</strong>
                      <a href='https://allocations.access-ci.org/prepare-requests' target='_blank' style="font-size: 16px; margin-right: 0.5em;">
                        Request an allocation</a>
                      <a href='https://allocations.access-ci.org/exchange_calculator' target='_blank' style="font-size: 16px; margin-right: 0.5em;">Exchange credits</a>
                    </div>
                  </div>
                  <!-- </span> -->
                  <br>
                <div class="col-sm-12">
                  <a class="col-sm-6" href="https://allocations.access-ci.org/resources" target="_blank">See all resources</a>
                  <a class="col-sm-6" id="feedback">Give feedback</a>
                </div>
            </div>
          </div>
    </div>
  </div>
</div>